//#region theme
// themes color
$color-primary: #ff014f;
$color-secondary: #f4f5f6;
$color-tertiary: #0d1013;
$color-gray: #f6f6f6;
$color-subtitle: #f9004d;

// background-color
$background-color-1: linear-gradient(145deg, #1e2024, #23272b);
$background-color-2: #212428;
$background-color-3: #191b1e;

// typo Color
$color-heading-wv: #1e2125;
$color-body: #878e99;
$color-body-white: #3c3e41;
$color-lightn: #c4cfde;

// Gery Colors
$color-midgray: #878787;
$color-light: #e4e6ea;
$color-lighter: #ced0d4;
$color-lightest: #f0f2f5;
$color-border: #e6e6e6;
$color-white: #ffffff;
$color-white-75: rgba(255, 255, 255, 0.75);

//#endregion

//#region other colors
// notify Colors
$color-success: #3eb75e;
$color-danger: #ff0003;
$color-warning: #ff8f3c;
$color-info: #1ba2db;

//Social icon colors
$color-facebook: #3b5997;
$color-twitter: #1ba1f2;
$color-youtube: #ed4141;
$color-linkedin: #0077b5;
$color-pinterest: #e60022;
$color-instagram: #c231a1;
$color-vimeo: #00adef;
$color-twitch: #6441a3;
$color-discord: #7289da;

//#endregion
