// font family
$font-primary: var('--font-montserrat');
$font-secondary: var('--font-poppins');

// Font weight
$p-light: 300;
$p-regular: 400;
$p-medium: 500;
$p-semi-bold: 600;
$p-bold: 700;
$p-extra-bold: 800;
$p-black: 900;

//Fonts Size
$font-size-b1: 18px;
$font-size-b2: 22px;
$font-size-b3: 14px;

//Line Height
$line-height-b1: 1.5;
$line-height-b2: 1.6;
$line-height-b3: 1.7;

// Heading Font
$h1: 70px;
$h2: 60px;
$h3: 50px;
$h4: 40px;
$h5: 30px;
$h6: 20px;
