// Font weight
$p-light: 300;
$p-regular: 400;
$p-medium: 500;
$p-semi-bold: 600;
$p-bold: 700;
$p-extra-bold: 800;
$p-black: 900;

// Font weight
$s-light: 300;
$s-regular: 400;
$s-medium: 500;
$s-semi-bold: 600;
$s-bold: 700;
$s-extra-bold: 800;
$s-black: 900;

// Font Family
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

//Fonts Size
$font-size-b1: 18px;
$font-size-b2: 22px;
$font-size-b3: 14px;

//Line Height
$line-height-b1: 1.5;
$line-height-b2: 1.6;
$line-height-b3: 1.7;

// Heading Font
$h1: 70px;
$h2: 60px;
$h3: 50px;
$h4: 40px;
$h5: 30px;
$h6: 20px;
